.module {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.image {
  object-fit: contain;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dt {
  font-weight: bold;
}
